@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
	margin: 0px;
}

#container {
	position: absolute;
	margin: auto;
	width: 50%;
	top: 0;
	bottom: 0;
	filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Share Tech Mono', mono;
	font-size: 80pt;
	
	text-align: center;
	
	user-select: none;
}