---
import Layout from '../layouts/main.astro';
---

<Layout title="Home" description="AGS is a small media studio that makes youtube videos, websites, minecraft modpacks, and more!">
	
	<div class="alert alert-danger text-center"><!--replace with <br> when done updating-->
		We are updating our sites to use Bootstrap, some sites may be down
	</div>
	<div class="container mt-8">
		<!-- Row 1 -->
		<div class="row">
			<!-- AltiesGamingStudios card -->
			<div class="col bg-dark text-light shadow">
				<h2 class="float-start">AGS</h2>
				<img src="imgs/AltiesGamingLLogo.png" class="d-block float-end" style="max-width: 41px;">
				<img src="imgs/AltiesGamingLogo.png" class="d-block float-end" style="max-width: 41px;">
				<br /><br /><hr><br /><br /><br />
				<img src="imgs/AltiesGamingLogo.png" class="mx-auto d-block" style="max-width: 100px;">
				<p class="text-center">A small media studio</p>
				<p class="text-center">Owner of Altie's Gaming and Altie's Gaming Live</p>
				<div class="d-grid">
					<a href="/AGS/" class="btn btn-danger btn-block">Go To</a>
				</div>
				<br>
			</div>
			<!-- <div class="col-1"></div>
			AltiesDesignStudios card
			<div class="col bg-dark text-light shadow">
				<h2 class="float-start">ADS</h2>
				<img src="imgs/Spot (Square) Clear Background.png" class="d-block float-end" style="max-width: 41px;">
				<br /><br /><hr>
				
				<img src="imgs/Spot (Square) Clear Background.png" class="mx-auto d-block" style="max-width: 100px;">
				<br /><br /><br /><br /><br /><br /><br />
				<img src="imgs/hammer-solid.svg" class="mx-auto d-block" style="max-width: 100px;">
				<p class="text-center">Pardon our dust,</p>
				<p class="text-center">we are working on big stuff!</p>
				<div class="d-grid">
					<a href="" class="btn btn-danger btn-block disabled">Coming Soon!</a>
				</div>
				<br>
			</div> -->
			<div class="col-1"></div>
			<!-- AGS Code card -->
			<div class="col bg-dark text-light shadow">
				<h2 class="float-start">AGS Code</h2>
				<img src="imgs/code-solid.svg" class="d-block float-end" style="max-width: 41px;">
				<br /><br /><hr>
				<div class="alert alert-danger text-center"><!--replace with <br> when done updating-->
					In Progress!
				</div>
				<img src="imgs/code-solid.svg" class="mx-auto d-block" style="max-width: 100px;">
				<p class="text-center">everything code related</p>
				<p class="text-center">Code Libraries, Website Source, Tutorials and more!</p>
				<br />
				<div class="d-grid">
					<a href="/Code/" class="btn btn-danger btn-block disabled">Go To</a>
				</div>
				<br>
			</div>
		</div>
		<br>

		<!-- Row 2 -->
		<div class="row">
			<!--Moonrise Network-->
			<div class="col bg-dark text-light shadow">
				<h2 class="float-start">Moonrise Network</h2>
				<!-- <img src="imgs/Spot (Square) Clear Background.png" class="d-block float-end" style="max-width: 41px;"> -->
				<br /><br /><hr>
				
				<!-- <img src="imgs/Spot (Square) Clear Background.png" class="mx-auto d-block" style="max-width: 100px;"> -->
				<br /><br /><br />
				<!-- <img src="imgs/hammer-solid.svg" class="mx-auto d-block" style="max-width: 100px;"> -->
				<p class="text-center">A Work in Progress minecraft server network</p>
				<p class="text-center">Closed beta</p>
				<div class="d-grid">
					<a href="/Moonrise/" class="btn btn-danger btn-block">Go To</a>
				</div>
				<br>
			</div>
			<div class="col-1"></div>
			<!-- Partnerships -->
			<div class="col bg-dark text-light shadow">
				<h2 class="float-start">Partnerships</h2>
				<img src="imgs/handshake-simple-solid.svg" class="d-block float-end" style="max-width: 41px;">
				<br /><br /><hr>
				<img src="imgs/handshake-simple-solid.svg" class="mx-auto d-block" style="max-width: 100px;">
				<p class="text-center">Partnerships and FYTS</p>
				<br />
				<div class="d-grid">
					<a href="/Partners/" class="btn btn-danger btn-block">Go To</a>
				</div>
				<br>
			</div>
		</div>
	</div>
</Layout>
<style>
	body {
		background-image: url("/home-background.svg");
		background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	}
</style>